In [62]:
def refactor_monthly_data_frame(data_frame_name):
    print("Refactoring ", data_frame_name, " as per project requirement")
    import pandas as pd
    df = pd.read_csv('input_data/2023/'+data_frame_name, sep=";")

    df_category = pd.read_csv('input_data/category_mapper.csv', sep=';')
    empty_categories = set(df_category["Sub-category"])-set(df["Sub-category"])

    if list(empty_categories):
        for sub_cat in empty_categories:
            temp_dict = {"Description": sub_cat + "_empty_entry", 
            "Debit": 0.0, 
            "Credit": 0.0, 
            "Sub-category": sub_cat}
            df = pd.concat([df, pd.DataFrame(temp_dict, index=[0])], ignore_index=True)

    # fill down the NaN values in Date column
    df['Date'] = df['Date'].fillna(method='ffill')

    try:
        df["Date"] = pd.to_datetime(df["Date"], format="%d.%m.%y")
    except:
        pass

    # extract month from date column
    df['Date'] = pd.to_datetime(df['Date'])
    df['day'] = df['Date'].dt.day
    df['month'] = df['Date'].dt.month_name()
    df['year'] = df['Date'].dt.year
    df.drop(['Date'], axis=1, inplace=True)

    df["Credit"] = df["Credit"].astype(str).str.replace(",", ".").astype(float)
    df["Debit"] = df["Debit"].astype(str).str.replace(",", ".").astype(float)
    df = df.fillna(0)

    # add Category and Category Type column to df from df_category based on Sub-category
    df['Category'] = df['Sub-category'].map(df_category.set_index('Sub-category')['Category'])
    df['Category Type'] = df['Sub-category'].map(df_category.set_index('Sub-category')['Category Type'])


    df.to_csv('processed_data/2023/'+ data_frame_name, sep=";", index=False)
    print("Refactoring of ", data_frame_name, " is completed !! ")
    return None

In [63]:
import pandas as pd

considered_months = ["01_Jan.csv", "02_Feb.csv", "03_March.csv", "04_April.csv", "05_May.csv", "06_June.csv", "07_July.csv"]



for location in considered_months:
    refactor_monthly_data_frame(location)

df = pd.DataFrame()
for location in considered_months:
    df_temp = pd.read_csv('processed_data/2023/' + location, sep=';')
    df = pd.concat([df, df_temp], ignore_index=True)

df["effective_amount"] = df["Credit"] - df["Debit"]
df["Balance_Amount"] = df["effective_amount"].cumsum()

df.tail(50)

Refactoring  01_Jan.csv  as per project requirement
Refactoring of  01_Jan.csv  is completed !!
Refactoring  02_Feb.csv  as per project requirement
Refactoring of  02_Feb.csv  is completed !!
Refactoring  03_March.csv  as per project requirement
Refactoring of  03_March.csv  is completed !!
Refactoring  04_April.csv  as per project requirement
Refactoring of  04_April.csv  is completed !!
Refactoring  05_May.csv  as per project requirement
Refactoring of  05_May.csv  is completed !!
Refactoring  06_June.csv  as per project requirement
Refactoring of  06_June.csv  is completed !!
Refactoring  07_July.csv  as per project requirement
Refactoring of  07_July.csv  is completed !!

,Description,Debit,Credit,Sub-category,day,month,year,Category,Category Type,effective_amount,Balance_Amount
189,Udemy Course TensorFlow,0.00,109.99,PDP Income,16,June,2023,Extra Income,Income,109.99,-765.68
190,PayPal Berlin Room,70.41,0.00,Office Travel Spending,19,June,2023,PDP Expenses,Expense,-70.41,-836.09
191,PayPal Berlin Travel,59.98,0.00,Office Travel Spending,23,June,2023,PDP Expenses,Expense,-59.98,-896.07
192,LOHN / GEHALT 06/23,0.00,5667.00,Salary,26,June,2023,Salary,Income,5667.00,4770.93
193,Gift card,0.00,50.00,Tax less Income,26,June,2023,Extra Income,Income,50.00,4820.93
194,Gift card,50.00,0.00,Groceries,26,June,2023,Living Expenses,Expense,-50.00,4770.93
195,Tax less Income,0.00,150.00,Tax less Income,26,June,2023,Extra Income,Income,150.00,4920.93
196,Tax less Pension Income,0.00,43.80,Tax less Income,26,June,2023,Extra Income,Income,43.80,4964.73
197,Company Pension,292.00,0.00,Company Pension,26,June,2023,Europe Savings,Savings,-292.00,4672.73
198,Income Tax,1015.50,0.00,Tax,26,June,2023,Income Tax,State Cuttings,-1015.50,3657.23
199,Health Insurance,394.02,0.00,Health Insurance,26,June,2023,Health Insurance,State Cuttings,-394.02,3263.21
200,Pesnion,503.95,0.00,Pension,26,June,2023,Pension,State Cuttings,-503.95,2759.26
201,Unemployment Fund,70.44,0.00,Unemployment Fund,26,June,2023,Charity,State Cuttings,-70.44,2688.82
202,Nursing Care,76.06,0.00,Nursing Care,26,June,2023,Charity,State Cuttings,-76.06,2612.76
203,To India,2000.00,0.00,To India,26,June,2023,India Savings,Savings,-2000.00,612.76
204,Family & Kids_empty_entry,0.00,0.00,Family & Kids,26,June,2023,Extra Expenses,Expense,0.00,612.76
205,Taxi_empty_entry,0.00,0.00,Taxi,26,June,2023,Extra Expenses,Expense,0.00,612.76
206,Furnishings_empty_entry,0.00,0.00,Furnishings,26,June,2023,Extra Expenses,Expense,0.00,612.76
207,Phone & WiFi_empty_entry,0.00,0.00,Phone & WiFi,26,June,2023,Living Expenses,Expense,0.00,612.76
208,Office Travel Income_empty_entry,0.00,0.00,Office Travel Income,26,June,2023,Extra Income,Income,0.00,612.76
209,Gifts_empty_entry,0.00,0.00,Gifts,26,June,2023,Charity,Expense,0.00,612.76
210,Tax consultant Fee,375.59,0.00,Entertainment,2,July,2023,Extra Expenses,Expense,-375.59,237.17
211,Rent,590.00,0.00,Rent,2,July,2023,Living Expenses,Expense,-590.00,-352.83
212,Berlin Travel & Room,0.00,130.39,Office Travel Income,7,July,2023,Extra Income,Income,130.39,-222.44
213,GitHub Copilot & certification,182.19,0.00,PDP Spending,7,July,2023,PDP Expenses,Expense,-182.19,-404.63
214,GitHub Copilot & certification,0.00,182.19,PDP Income,7,July,2023,Extra Income,Income,182.19,-222.44
215,Eating,35.62,0.00,Groceries,10,July,2023,Living Expenses,Expense,-35.62,-258.06
216,Eating,52.40,0.00,Restaurant,10,July,2023,Extra Expenses,Expense,-52.40,-310.46
217,Amex Mess,1.73,0.00,Groceries,10,July,2023,Living Expenses,Expense,-1.73,-312.19
218,Gift,10.00,0.00,Gifts,10,July,2023,Charity,Expense,-10.00,-322.19
219,LOHN / GEHALT 03/23,0.00,6084.00,Salary,26,July,2023,Salary,Income,6084.00,5761.81
220,Gift card,0.00,50.00,Tax less Income,26,July,2023,Extra Income,Income,50.00,5811.81
221,Gift card,50.00,0.00,Groceries,26,July,2023,Living Expenses,Expense,-50.00,5761.81
222,Tax less Income,0.00,150.00,Tax less Income,26,July,2023,Extra Income,Income,150.00,5911.81
223,Tax less Pension Income,0.00,43.80,Tax less Income,26,July,2023,Extra Income,Income,43.80,5955.61
224,Company Pension,292.00,0.00,Company Pension,26,July,2023,Europe Savings,Savings,-292.00,5663.61
225,Income Tax,1158.83,0.00,Tax,26,July,2023,Income Tax,State Cuttings,-1158.83,4504.78
226,Health Insurance,394.02,0.00,Health Insurance,26,July,2023,Health Insurance,State Cuttings,-394.02,4110.76
227,Pesnion,542.73,0.00,Pension,26,July,2023,Pension,State Cuttings,-542.73,3568.03
228,Unemployment Fund,75.87,0.00,Unemployment Fund,26,July,2023,Charity,State Cuttings,-75.87,3492.16
229,Nursing Care,84.79,0.00,Nursing Care,26,July,2023,Charity,State Cuttings,-84.79,3407.37
230,To India,2750.00,0.00,To India,26,July,2023,India Savings,Savings,-2750.00,657.37
231,Family & Kids_empty_entry,0.00,0.00,Family & Kids,26,July,2023,Extra Expenses,Expense,0.00,657.37
232,Taxi_empty_entry,0.00,0.00,Taxi,26,July,2023,Extra Expenses,Expense,0.00,657.37
233,Furnishings_empty_entry,0.00,0.00,Furnishings,26,July,2023,Extra Expenses,Expense,0.00,657.37
234,Cloths_empty_entry,0.00,0.00,Cloths,26,July,2023,Extra Expenses,Expense,0.00,657.37
235,Travel Pass_empty_entry,0.00,0.00,Travel Pass,26,July,2023,Living Expenses,Expense,0.00,657.37
236,Gym & Self grooming_empty_entry,0.00,0.00,Gym & Self grooming,26,July,2023,Extra Expenses,Expense,0.00,657.37
237,Phone & WiFi_empty_entry,0.00,0.00,Phone & WiFi,26,July,2023,Living Expenses,Expense,0.00,657.37
238,Office Travel Spending_empty_entry,0.00,0.00,Office Travel Spending,26,July,2023,PDP Expenses,Expense,0.00,657.37

In [89]:
Income_sources = ['Salary', 'Tax less Income', 'PDP Income', 'Office Travel Income']
yearly_expenses = pd.pivot_table(df, index=['Sub-category'], values=['Debit'], aggfunc=np.sum).reset_index()
yearly_expenses = yearly_expenses[~yearly_expenses['Sub-category'].isin(Income_sources)]
yearly_expenses.columns = ['Sub-category', 'amount']


yearly_income = pd.pivot_table(df, index=['Sub-category'], values=['Credit'], aggfunc=np.sum).reset_index()
yearly_income = yearly_income[yearly_income['Sub-category'].isin(Income_sources)]
yearly_income.columns = ['Sub-category', 'amount']

df_yearly_detailed_metrics = pd.concat([yearly_income, yearly_expenses], axis=0)


temp_dict = dict(zip(df_yearly_detailed_metrics["Sub-category"], df_yearly_detailed_metrics["amount"]))
total_income = temp_dict["Salary"]+temp_dict["Tax less Income"]
df_yearly_detailed_metrics["percentage"]=round((df_yearly_detailed_metrics["amount"]/total_income)*100,2)


df_yearly_detailed_metrics.to_csv("processed_data/yearly_detailed_metrics.csv", sep=";", index=False)
df_yearly_detailed_metrics

              Sub-category    amount  percentage
10    Office Travel Income    130.39        0.32
12              PDP Income    524.25        1.27
18                  Salary  40087.22       97.12
20         Tax less Income   1188.85        2.88
0                   Cloths     15.00        0.04
1          Company Pension   1168.00        2.83
2            Entertainment    425.59        1.03
3            Family & Kids    258.60        0.63
4              Furnishings      0.00        0.00
5                    Gifts     26.09        0.06
6                Groceries    762.49        1.85
7      Gym & Self grooming     65.00        0.16
8         Health Insurance   2758.14        6.68
9             Nursing Care    541.15        1.31
11  Office Travel Spending    130.39        0.32
13            PDP Spending    524.25        1.27
14                 Pension   3650.15        8.84
15            Phone & WiFi      0.00        0.00
16                    Rent   4135.52       10.02
17              Restaurant     84.53        0.20
19                     Tax   7570.55       18.34
21                    Taxi      0.00        0.00
22                To India  17610.00       42.66
23             Travel Pass   1037.66        2.51
24       Unemployment Fund    510.23        1.24

In [65]:
Income_sources = ['Salary', 'Tax less Income', 'PDP Income', 'Office Travel Income']
monthly_expenses = pd.pivot_table(df, index=['month','Sub-category'], values=['Debit'], aggfunc=np.sum).reset_index()
monthly_expenses = monthly_expenses[~monthly_expenses['Sub-category'].isin(Income_sources)]
monthly_expenses.columns = ['month','Sub-category', 'amount']


monthly_income = pd.pivot_table(df, index=['month','Sub-category'], values=['Credit'], aggfunc=np.sum).reset_index()
monthly_income = monthly_income[monthly_income['Sub-category'].isin(Income_sources)]
monthly_income.columns = ['month','Sub-category', 'amount']

df_monthly_detailed_metrics = pd.concat([monthly_income, monthly_expenses], axis=0)
df_monthly_detailed_metrics.to_csv("processed_data/monthly_detailed_metrics.csv", sep=";", index=False)
df_monthly_detailed_metrics

        month          Sub-category   amount
10      April  Office Travel Income     0.00
12      April            PDP Income   117.80
18      April                Salary  5667.00
20      April       Tax less Income   243.80
35   February  Office Travel Income     0.00
..        ...                   ...      ...
169       May                   Tax  1015.50
171       May                  Taxi     0.00
172       May              To India  2600.00
173       May           Travel Pass    98.00
174       May     Unemployment Fund    70.44

[175 rows x 3 columns]